<div class="container">
    <form action="/addGenre" method="POST">
        <label for="genre">Genre Name</label>
        <input type="text" id="genre" name="genreName" placeholder="Genre Name ...">

        <input type="submit" value="Submit">
    </form>
</div>